appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012194889/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046055389/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
conda==4.11.0
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1636021710069/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1637648690905/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1609836280497/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1637170539581/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1635833544680/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1642632461053/work
platformdirs==2.4.1
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1636020362356/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pyopencl==2021.2.13
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404942/work
pytools @ file:///home/conda/feedstock_root/build_artifacts/pytools_1635834804422/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1637771257551/work
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1636009144459/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1632350318291/work
